{% extends 'navbar.html' %}
{% load static %}
{% load martortags %}

{% block title %}
    <title>Blog</title>
{% endblock title %}

{% block content %}
    {{ block.super }}
    <div class="container">
        <h1>Blog</h1>

        <hr>
        {% if latest_post_list %}
            <ul>
                {% for post in latest_post_list %}
                    <div class="card">
                        {% if post.image %}<img src="{{ post.image.url }}" class="img-fluid">{% endif %}
                        <div class="card-body">
                            <h1 class="card-title"><a href="{% url 'blog:detail' post.id %}" class="stretched-link">{{ post.title }}</a></h1>
                            <p class="card-text">{{ post.body|safe_markdown|truncatechars:100 }}</p>
                            
                        </div>
                        <li></li>
                    </div>
                {% endfor %}
            </ul>
        {% else %}
        {% endif %}
    </div>
    {% include 'footer.html' %}
{% endblock content %}