<div id="footer" class="page-footer footer py-4">
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <a href="https://discord.com/users/107276820184842240" class="text-muted"><i class="zoom fab fa-discord fa-3x px-2"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="https://github.com/JoshuaTianYangLiu" class="text-muted"><i class="zoom fab fa-github fa-3x px-2"></i></a>
        </li>
        <li class="list-inline-item">
            <a href="mailto:JoshuaL@youarefantastic.ca" class="text-muted"><i class="zoom far fa-envelope fa-3x px-2"></i></a>
        </li>
    </ul>
</div>