{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'index' %}">YouAreFantastic's Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'resume' %}">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Dmoj stats</a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'projects' %}">Projects</a>
            </li>
            {% comment %} <li class="nav-item">
                <a class="nav-link" href="#">Contest Highlights</a>
            </li> {% endcomment %}
            <li class="nav-item">
                <a class="nav-link" href="#">Writeups</a>
            </li>
        </ul>
    </div>
</nav>
{% endblock content %}